[alias]
  a = add -A
  last = log -1 # 最後のコミットだけ出力
  list = stash list  # stashのリストを表示
  new = checkout -b
  st = status
  sh = stash save
  ap = stash apply
  dp = stash drop
  df = diff
  ds = diff --staged
  dn = diff --name-only
  br = branch
  to = checkout
  ps = push origin
  force-push = push --force-with-lease --force-if-includes
  line = log --oneline  # git logが一列にコンパクトに出力される
  ref = reflog
  gr = log --oneline --graph  # git logがコンパクトにグラフ状に出力される
  pend = commit -am pend
  amend = commit --amend  # commitの変更をする

[includeIf "gitdir:~/environments/github/"]
  path = ~/environments/github/.gitconfig
[includeIf "gitdir:~/environments/gitlab/"]
  path = ~/environments/gitlab/.gitconfig
[core]
        autocrlf = input